<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGisService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IGisService">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8081/GisService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IGisService" contract="GisService.IGisService"
                name="NetTcpBinding_IGisService">
                <identity>
                    <userPrincipalName value="DESKTOP-N939IKT\graf3" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8080/GisService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGisService" contract="GisService.IGisService"
                name="BasicHttpBinding_IGisService" />
        </client>
    </system.serviceModel>
</configuration>