<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="WCFWeather.GisService" behaviorConfiguration="mexBehaviors">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/" />
            <add baseAddress="net.tcp://localhost:8081/" />
          </baseAddresses>
        </host>
        <endpoint address="GisService" binding="netTcpBinding" contract="WCFWeather.IGisService" />
        <endpoint address="GisService" binding="basicHttpBinding" contract="WCFWeather.IGisService"/>
        <endpoint address="mex"  binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehaviors">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>